@charset "UTF-8";

/********* brand *********/

*{box-sizing: border-box;}
#sub_container {margin:76px auto 0;width:100%;}
.sub_content {width:100%;}
.section_top {margin:0 0;padding:10% 0;width:100%;background:url(/img/about/section_01_img.jpg) center center no-repeat;}
.sub_content .inner {margin:0 auto;width:100%;max-width:1400px;}
.sub_content .inner:after {clear:both;display:block;content:'';height:0;visibility:hidden;}
.top_txt_box {padding:0 0 150px 0;}
.top_txt_box .brand_txt01 {font-size:30px;font-weight:500;}
.top_txt_box .brand_title {padding:15px 0;font-size:48px;font-weight:500;letter-spacing:5px;text-align:left;}
.top_txt_box .brand_txt02 {font-size:24px;font-weight:300;}

.section_01 {padding:100px 0;background:url(/img/about/section_sky_bg01.jpg) center top repeat-x;}
.brand_left {float:left;width:50%;}
.section_img01 {padding:25px 0;width:100%;max-width:630px;}
.section_img01 img {width:100%;}
.section_img02 {padding:25px 0;width:100%;max-width:571px;}
.section_img02 img {width:100%;}
.section_img03 {padding:25px 0;width:100%;max-width:614px;}
.section_img03 img {width:100%;}
.brand_info_box {padding:25px 0;}
.brand_info_box .brand_section_title {padding:20px 0 50px 0;font-size:38px;font-weight:500;position:relative;}
.brand_info_box .brand_title_line01 {position:absolute;display:block;width:60%;height:2px;max-width:620px;bottom:15px;left:-15%;background:#000;}
.brand_info_box .brand_title_line02 {position:absolute;display:block;width:70%;height:2px;max-width:620px;bottom:15px;right:-20%;background:#000;}
.brand_info_box .brand_section_mid_t {padding:0 0 30px 0;font-size:24px;font-weight:300;}
.brand_info_box .brand_section_small_t {font-size:16px;font-weight:300;line-height:1.6;}
.brand_info_box .belopvs_mean_img01 {padding:50px 0;width:100%;max-width:718px;text-align:center;}
.brand_info_box .belopvs_mean_img01 img {width:100%;}
.brand_info_box .belopvs_mean_img02 {margin:0 auto;padding:50px 0;width:100%;max-width:443px;text-align:center;}
.brand_info_box .belopvs_mean_img02 img {width:100%;}
.brand_info_box .belopvs_mean_img03 {margin:0 auto;padding:50px 0;width:100%;max-width:613px;text-align:center;}
.brand_info_box .belopvs_mean_img03 img {width:100%;}

.section_02 {padding:100px 0;background:url(/img/about/section_sky_bg02.jpg) center top repeat-x;}
.brand_right {float:right;width:50%;}
.align_right {padding-right:80px;text-align:right;}
.belopvs_butterfly_img {margin:0 auto;width:100%;max-width:1200px;}
.belopvs_butterfly_img img {width:100%;}
.belopvs_butterfly_img .pc_img {}
.belopvs_butterfly_img .mobile_img {display:none;}

.section_03 {padding:100px 0;background:url(/img/about/section_03_bg.jpg) center top repeat-x;}

.section_04 {padding:100px 0;background:#e1e1e1;}
.bi_title {margin:0 auto;padding:0 0 15px;width:90%;max-width:580px;text-align:center;font-size:38px;font-weight:500;border-bottom:2px solid #000;}
.signage_list {margin:0 auto;padding:50px 0;width:100%;max-width:1000px;}
.signage_list:after {clear:both;display:block;content:'';height:0;visibility:hidden;}
.signage_list>li {float:left;width:50%;max-width:457px;padding:0 30px;}
.signage_list>li img {width:100%;}

/* �غ��� */
.about {margin-top: 76px; text-align: center;}
.about .title{width: 100%; height: 370px; background: url(../img/about/about_title_bg.jpg) no-repeat center; position: relative;}
.about .title h2{font-weight: 400; font-size: 36px; color: #fff; line-height: 1em; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);}
.about .title h2::before{content: ""; display: block; width: 128px; height: 1px; background-color: #fff; margin-bottom: 5px;}

/* our_company */
.our_con .title_box{position: relative; margin-top: 76px;}
.our_con .title_box img{width: 100%;}
.our_con .title_box img.m_bg{display: none;}
.our_con .title_box .txt_wrap{position: absolute; width: 1400px; left: 50%; top: 50%; transform: translate(-50%, -50%);}
.our_con .title_box .txt_wrap h2{font-weight: 400; font-size: 48px; color: #fff;}
.our_con .title_box .txt_wrap h2::after{content: ""; display: block; width: 10px; height: 42px; background-color: #ed1c24; transform: skewX(-30deg); margin: 30px 15px;}
.our_con .title_box .txt_wrap p{font-weight: 300; font-size: 24px; line-height: 36px; color: #fff;}

.our_con .our_sce_float{position: relative;}
.our_con .our_sce_float .con,.our_sce03 .con{padding: 0 20px;}
.our_con .our_sce_float .con::after{content: ""; display: block; clear: both;}
.our_con .our_sce_float .txt p,.our_sce03 p:nth-of-type(1){font-weight: 300; line-height: 32px;}
.our_con .our_sce_float .txt p:nth-of-type(2){padding: 30px 0;}

.our_con .our_sce01{margin: 110px 0;}
.our_con .our_sce01::before{content: ""; width: 100%; height: 628px; background-color: #e8f1f6; position: absolute; left: 0; top: 0; z-index: -1;}
.our_con .our_sce01 .txt_wrap{float: left; padding-top: 130px;}
.our_con .our_sce01 .txt_wrap .txt{width: 625px;}
.our_con .our_sce01 .txt::before{content: ""; display: block; width: 886px; height: 2px; background-color: #20409a; position: relative; z-index: 1; margin: 50px 0;}
.our_con .our_sce01 .con>img{float: right; padding-top: 80px;}

.our_con .our_sce02,.our_con .our_sce03{margin-bottom: 110px;}
.our_con .our_sce02::before{content: ""; width: 100%; height: 488px; background-color: #f5f5f5; position: absolute; left: 0; top: 0; z-index: -1;}
.our_con .our_sce02 .txt_wrap{float: right; padding-top: 60px;}
.our_con .our_sce02 .txt_wrap>p{font-weight: 300; font-size: 30px; line-height: 1em; margin-bottom: 30px;}
.our_con .our_sce02 .txt_wrap .txt{width: 594px;}
.our_con .our_sce02 .con>img{float: left; padding-top: 80px;}

.our_sce03 p:nth-of-type(1){margin-bottom: 60px;}
.our_sce03 p:nth-of-type(2){margin-top: 90px;}
.our_sce03 p:nth-of-type(2)::after{content: ""; display: block; clear: both;}
.our_sce03 p:nth-of-type(2) span{font-weight: 300; font-size: 24px; line-height: 32px;}
.our_sce03 p:nth-of-type(2) span:nth-child(1){width: 50%; height: 2px; background-color: #20409a; float: left; margin-top: 15px;}
.our_sce03 p:nth-of-type(2) span:nth-child(2){float: right;}
/* our_company */


/* brand story var2 */
.sub_con .title_box{text-align: center; background-color: #cf171f;}
.brand_sec{background-color: #e6e4e7; text-align: center;}
.brand_sec h3{width: 900px; text-align: 40px; color: #939498; padding: 90px 0 24px; border-bottom: 3px solid #000; margin: 0 auto 20px auto;}
.brand_sec p.txt{font-size: 40px; font-weight: 700; color: #6d868b; padding: 100px 0;}
.brand_sec .img_wrap{display: inline-block;}
.brand_sec .img_wrap::after{content: ""; display: block; clear: both;}
.brand_sec .img_wrap img{float: left;}

.brand_sec01 p{font-size: 30px; font-weight: 500; color: #682872; padding: 30px 0 90px;}
.brand_sec02 .img_wrap img{width: 600px;}
.brand_sec02 .img_wrap img+img{margin-left: 60px;}
.brand_sec03 img{float: left; width: 1260px; margin: 0 auto; text-align: center;}
.brand_sec04 .img_wrap{padding: 90px 0 180px;}
.brand_sec04 .img_wrap img{width: 400px;}
.brand_sec04 .img_wrap img+img{margin-left: 60px;}
.brand_sec05{background-color: #fff; padding: 100px 0;}
.brand_sec05 img{width: 1000px;}
.brand_sec05 .txt_wrap{padding: 90px;}
.brand_sec05 .txt_wrap p{color: #a1a5a8;}
.brand_sec05 .txt_wrap p:nth-child(2){color: #5e5e5e; border-top: 1px solid #cdcdcf; padding-top: 10px; margin-top: 10px;}

.brand_line{height: 150px; text-align: center; background: #cc171c url(../img/about/line_bg.jpg) repeat-x; position: relative;}
.brand_line img{width: 110px; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);}
.brand_line P{font-size: 14px; font-weight: 300; color: #fff; position: absolute; right: 40px; bottom: 30px;}
/* brand story var2 */

@media all and (max-width: 1400px){
	/* our_company */
	.our_con .title_box .txt_wrap{position: absolute; width: auto; left: 3%; top: 50%; transform: translate(0, -50%);}
	.our_con .our_sce_float .con, .our_sce03 .con{padding: 0 3%;}

	.our_con .our_sce_float .txt_wrap{width: 50%;}
	.our_con .our_sce_float .txt_wrap .txt{width: 100%;}
	.our_con .our_sce_float .con>img{width: 45%;}

	.our_con .our_sce03 .con>img{width: 100%;}
	.our_sce03 p:nth-of-type(2) span:nth-child(1){width: 45%;}
	/* our_company */
}

@media all and (max-width: 1259px){
	/* our_company */
	.our_con .our_sce01,.our_con .our_sce02{text-align: center;}
	.our_con .our_sce01::before{height: 75%; top: 45px;}
	.our_con .our_sce01 .txt_wrap{float: inherit; padding-top: 0; width: 100%;}
	.our_con .our_sce01 .txt_wrap .txt{text-align: left; padding-top: 80px;}
	.our_con .our_sce01 .txt::before{display: none;}
	.our_con .our_sce_float .con>img{float: inherit; width: auto;}

	.our_con .our_sce02::before{height: 90%;}
	.our_con .our_sce02 .txt_wrap {float: inherit; width: 100%; text-align: left; padding-top: 60px;}
	.our_con .our_sce02 .con>img{float: inherit; padding-top: 80px;}

	.our_sce03 p:nth-of-type(2){text-align: center;}
	.our_sce03 p:nth-of-type(2) span:nth-child(1){display: none;}
	.our_sce03 p:nth-of-type(2) span:nth-child(2){float: inherit;}
	/* our_company */


	/* brand story var2 */
	.brand_sec .img_wrap{width: 100%;}
	.brand_sec01 img:nth-of-type(2), .brand_sec03 .img_wrap img{width: 100%;}
	.brand_sec02 .img_wrap img{width: 48%;}
	.brand_sec02 .img_wrap img:last-child{float: right;}
	.brand_sec02 .img_wrap img+img{margin-left: 0;}
	.brand_sec04 .img_wrap{width: auto;}
	/* brand story var2 */
}


@media all and (max-width: 1200px){
.sub_content .inner {padding:0 20px;}
.section_01 {padding:15px 0 0;}
.section_02 {padding:25px 0 0;}
.section_03 {padding:25px 0 0;}
.section_04 {padding:25px 0 0;}
.brand_info_box {padding:25px 10px;}
.brand_info_box .brand_section_title {padding:20px 0 30px 0;font-size:30px;}
.brand_info_box .brand_section_mid_t {padding:0 0 20px 0;font-size:20px;}
.brand_info_box .brand_section_small_t {font-size:16px;}
.belopvs_butterfly_img {margin:0 auto;width:100%;max-width:800px;padding:0 0 40px 0;}
.bi_title {font-size:30px;}

}

@media all and (max-width: 999px){
	/* our_company */
	.our_con .title_box img.pc_bg{display: none;}
	.our_con .title_box img.m_bg{display: block;}
	/* our_company */

	/* brand story var2 */
	.brand_sec h3{width: 80%;}
	.brand_sec05 img{width: auto;}
	/* brand story var2 */
}

@media all and (max-width: 880px){
	/* our_company */
	.our_con .our_sce01 .txt_wrap>img{width: 60%;}
	.our_con .our_sce_float .con>img{width: 80%;}
	.our_con .title_box .txt_wrap h2{font-size: 30px;}
	.our_con .title_box .txt_wrap h2::after{width: 7px; height: 24px; margin: 10px 15px;}
	.our_con .title_box .txt_wrap p{font-size: 14px; line-height: 25px; width: 90%;}

	.our_con .our_sce_float .txt p, .our_sce03 p:nth-of-type(1){font-size: 14px; line-height: 25px;}
	.our_con .our_sce_float .txt p:nth-of-type(2){padding: 15px 0;}

	.our_con .our_sce01{margin: 50px 0;}
	.our_con .our_sce01::before{top: 20px;}
	.our_con .our_sce01 .txt_wrap .txt{padding-top: 30px;}
	.our_con .our_sce01 .con>img,.our_con .our_sce02 .con>img{padding-top: 40px;}

	.our_con .our_sce02 .txt_wrap{padding-top: 40px;}
	.our_con .our_sce02, .our_con .our_sce03{margin-bottom: 80px;}

	.our_sce03 p:nth-of-type(1){margin-bottom: 40px;}
	.our_sce03 p:nth-of-type(2){margin-top: 80px;}
	.our_sce03 p:nth-of-type(2) span{font-size: 14px; line-height: 1em;}
	/* our_company */

	/* brand story var2 */
	.title_box img{width: 100%;}

	.brand_sec04 .img_wrap{margin: 0 5%;}
	.brand_sec04 .img_wrap img{width: 48%;}
	.brand_sec04 .img_wrap img:last-child{float: right}
	.brand_sec04 .img_wrap img+img{margin-left: 0;}
	.brand_sec05 img{width: 80%;}
	/* brand story var2 */
}

@media (max-width: 767px){
	.our_con .title_box{margin-top: 50px;}
}




@media all and (max-width: 800px){

#sub_cotainer {margin:50px auto 0;width:100%;}
.sub_content .inner {padding:0 15px;width:100%;max-width:none;}
.section_top {margin:0 0;padding:30% 0;width:100%;background:url(/img/about/mobile_section_01_img.jpg) center center no-repeat;}
.top_txt_box {padding:0 0 50px 0;}
.top_txt_box .brand_txt01 {font-size:20px;}
.top_txt_box .brand_title {padding:15px 0;font-size:34px;font-weight:500;letter-spacing:4px;}
.top_txt_box .brand_txt02 {font-size:18px;}

.section_01 {padding:15px 0 0;}
.brand_left {float:none;width:100%;}
.brand_right {float:none;width:100%;}
.brand_info_box .brand_section_title {padding:15px 0 30px 0;font-size:28px;font-weight:500;position:static;text-align:center}
.brand_info_box .brand_title_line01 {position:static;margin:15px auto;width:80%;height:2px;max-width:475px;background:#000;text-align:center;}
.brand_info_box .brand_title_line02 {position:static;margin:15px auto;width:80%;height:2px;max-width:475px;background:#000;text-align:center;}
.brand_info_box .brand_section_mid_t {padding:0 0 15px 0;font-size:18px;text-align:center;}
.brand_info_box .brand_section_small_t {font-size:14px;font-weight:300;text-align:center;}
.section_02 {padding:0 0 40px 0;background:url(/img/about/section_sky_bg02.jpg) center top repeat-x;}
.align_right {padding-right:0;text-align:center;}
.belopvs_butterfly_img {padding:0 20px;max-width:416px;}
.belopvs_butterfly_img .pc_img {display:none;}
.belopvs_butterfly_img .mobile_img {display:block;}
.section_03 {padding:40px 0;}
.section_04 {padding:40px 0;}
.bi_title {width:80%;max-width:475px;font-size:28px;}
.signage_list {padding:30px 0;width:100%;max-width:none;}
.signage_list>li {float:left;width:50%;max-width:457px;padding:0 10px;}

  .about {margin-top: 50px; text-align: center;}
  .about .title{height: 250px; background-size: cover;}
  .about .title h2{font-weight: 400; font-size: 23px;}
  .about .title h2::before{width: 76px;}

}

@media all and (max-width: 500px){
	/* brand story var2 */
	.brand_sec h3{padding: 60px 0 20px; margin: 0 auto 20px auto;}
	.brand_sec p.txt{font-size: 20px; padding: 40px 0 60px;}
	.brand_sec01 p{font-size: 18px; padding: 30px 0 60px;}
	.brand_sec04 .img_wrap{padding: 30px 0 60px;}
	.brand_sec05{padding: 60px 0;}
	.brand_sec05 .txt_wrap{padding: 40px 5%;}
	.brand_sec05 .txt_wrap p{font-size: 13px;}

	.brand_line{height: 100px; background-size: 30%;}
	.brand_line img{width: 70px;}
	.brand_line P{font-size: 10px; right: 10px; bottom: 10px;}
	/* brand story var2 */
}
