@charset "UTF-8";

.login{margin-top: 76px; text-align: center;}
.login .title{width: 100%; height: 370px; background: url(../img/member/login_title_bg.jpg) no-repeat center; position: relative;}
.login .title h2{font-weight: 400; font-size: 36px; color: #fff; line-height: 1em; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);}
.login .title h2::before{content: ""; display: block; width: 128px; height: 1px; background-color: #fff; margin-bottom: 5px;}

.login .con{margin: 110px 0;}
.login .con h3{font-weight: 500; font-size: 42px; line-height: 1em;}
.login .con .login_con{max-width: 660px; background-color: #fcf4f4; padding: 30px 80px; margin: 70px auto;}
.login .con .login_con p{font-weight: 300; font-size: 16px; line-height: 1em; text-align: center; margin-bottom: 30px;}
.login .con .login_con form{text-align: center;}
.login .con .login_con ul{display: inline-block; width: 100%;}
.login .con .login_con ul li{width: 100%; background-color: #fff; border: 1px solid #dfb4b4; padding: 14px 45px; margin-bottom: 16px;}
.login .con .login_con ul li input{width: 100%; height: 100%; border: 0;}
.login .con .login_con ul li input::placeholder{color: #acacac;}
.login .con .login_con .forgot{width: 100%; text-align: left;}
.login .con .login_con .forgot a{display: inline-block; font-weight: 300; font-size: 14px; text-align: left; border-bottom: 1px solid #000;}
.login .con .login_con button{width: 100%; height: 54px; background-color: #ed1c24; border: 1px solid #dfb4b4; font-size: 20px; color: #fff; margin-top: 20px;}
.login .con .account_con{max-width: 500px; margin: 0 auto;}
.login .con .account_con p{font-weight: 300; font-size: 14px; margin: 24px 0;}
.login .con .account_con .account a{display: inline-block; width: 100%; height: 54px; background-color: #000; font-size: 20px; line-height: 54px; color: #fff;}

/*** popup ***/
.find_pop {position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);width:98%;max-width:360px;}
.pop_inner {padding:20px 15px;border:1px solid #e1e1e1;background:#fff;box-shadow:5px 5px 5px rgba(0,0,0,.2);}
.pop_small_title {padding:0 0 10px 0;font-size:22px;font-weight:500;}
.find_tb_box {padding:5px 0;width:100%; }
.find_tb {border-top:1px solid #ccc;border-bottom:1px solid #ccc;width:100%;}
.find_tb th {padding:10px 5px;background:#f5f5f5;font-size:14px;font-weight:500;}
.find_tb td {padding:10px 5px;}
.find_tb td input[type="text"] {padding:8px 4px;border:1px solid #d7d7d7;color:#777;width:99%;}
.id_check_box {margin:15px 0;padding:12px 10px;border:2px solid #ccc;background:#f5f5f5;font-size:16px;}
.id_check_box > span {color:#0072bc;}
.pop_btn_submit {display:inline-block;width:90px;padding:6px 5px;font-size:16px;text-align:center;}
.btn_red {background:#ed1c24;color:#fff;border:1px solid #ed1c24;}
.btn_white {background:#fff;;color:#000;border:1px solid #000;}
.btn_zone {margin:10px auto;width:98%;text-align:center;}
.find_pop .close{width: 38px; height: 38px; text-indent: -9999px; background: url(../img/skincare/popup_close.jpg) no-repeat center; position: absolute; right: 0; top: 0;}

/*** Privacy Policy ***/

.privacy_box {border-top:1px solid #959595;padding:20px 20px;}
.privacy_content {font-size:14px;line-height:1.5;font-weight:300;text-align:left;}
.privacy_content h4 {padding:5px 0 8px 0;font-size:18px;font-weight:500;}
.privacy_content h5 {padding:5px 0 8px 0;font-size:16px;}
.privacy_content .privacy_txt {padding:15px 0 20px;}
.privacy_content .privacy_small_t {padding:8px 0;font-size:14px;}
.privacy_content .privacy_list {padding:8px 0;}
.privacy_content .privacy_list>li {padding:6px 0;list-style-type:disc;}




@media all and (max-width: 767px){
  body{font-size: 15px; line-height: 18px;}
  .login{margin-top: 50px; text-align: center;}
  .login .title{height: 250px; background-size: cover;}
  .login .title h2{font-weight: 400; font-size: 23px;}
  .login .title h2::before{width: 76px;}

  .login .con{margin: 70px 0;}
  .login .con h3{font-size: 26px;}
  .login .con .login_con{max-width: 660px; background-color: #fcf4f4; padding: 30px 3%; margin: 40px auto;}
  .login .con .login_con p{font-size: 12px; line-height: 1em; text-align: center; margin-bottom: 30px;}
  .login .con .login_con ul li{padding: 8px 5%; margin-bottom: 16px;}
  .login .con .login_con button{height: 45px; font-size: 14px; margin-top: 20px;}

  .login .con .account_con{max-width: 500px; margin: 0 3%;}
  .login .con .account_con p{font-size: 12px; margin: 24px 0;}
  .login .con .account_con .account a{height: 45px; font-size: 15px; line-height: 45px;}
}
