@charset "UTF-8";

.brand_story h2, .brand_story h3{font-weight: 400; font-size: 20px; line-height: 1em;}
.brand_story .inner{max-width: 1400px; margin: 0 auto;}

.brand_story{margin-top: 76px;}
.brand_story .title{width: 100%; height: 370px; background: url(../img/about/about_title_bg.jpg) no-repeat center; position: relative;}
.brand_story .title h2{font-weight: 400; font-size: 36px; color: #fff; line-height: 1em; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);}
.brand_story .title h2::before{content: ""; display: block; width: 100%; height: 1px; background-color: #fff; margin-bottom: 5px;}

.brand_con{text-align: center; padding: 100px 0;}

@media all and (max-width: 767px){
.brand_story{margin-top: 50px; text-align: center;}
.brand_story .title{height: 250px; background-size: cover;}
.brand_story .title h2{font-weight: 400; font-size: 23px;}

.brand_con{text-align: center; padding: 100px 10%;}
.brand_con img{width: 100%;}
}
