@charset "UTF-8";

.inner{max-width: 1400px; margin: 0 auto;}
select{-webkit-appearance: none; -moz-appearance: none; appearance: none;}
select::-ms-expand{display: none;}

.txt_no{display: none;}

.shop{padding-top: 76px;}
.shop h2{font-size: 32px; text-align: center; margin: 60px 0 40px 0;}
.item_list{width: 100%; border: 1px solid transparent; border-collapse: collapse;}
.item_list tr{text-align: center;}
.item_list tr td{font-weight: 400; font-size: 14px; line-height: 1em;}
.item_list tr td.check{width: 40px;}
.item_list tr td.check input[type="checkbox"]{display: none;}
.item_list tr td.check input[type="checkbox"]:checked+label{background: #fff url(../img/shop/ico_shop_chceck.png) no-repeat center;}
.item_list tr td.check label{display: inline-block; width: 20px; height: 20px; background-color: #fff; border: 1px solid #ccc; cursor: pointer;}

.item_list tr.tit{height: 40px; background-color: #f5f5f5; border-top: 1px solid #ccc; border-bottom: 1px solid #ccc;}

.item_list tr.list{border-bottom: 1px solid #ebebeb;}
.item_list tr.list td.pro_img{padding: 10px 0;}
.item_list tr.list td.pro_img img{width: 80px; height: 80px;}
.item_list tr.list td.txt{text-align: left;}
.item_list tr.list td.txt p:nth-of-type(2){font-size: 13px; color: #acacac; text-decoration: underline; margin-top: 10px;}

.item_list tr.list td.count .count_wrap::after{content: ""; display: block; clear: both;}
.item_list tr.list td.count .count_wrap{display: inline-block; height: 32px;}
.item_list tr.list td.count .count_wrap input{width: 40px; height: 32px; background-color: #ebebeb;  border: 0; text-align: center; float: left;}
.item_list tr.list td.count .count_wrap button{width: 32px; height: 32px; border: 1px solid #d7d7d7; text-indent: -9999px; float: left;}
.item_list tr.list td.count .count_wrap button.minus{background: #fff url(../img/shop/minus.jpg) no-repeat center;}
.item_list tr.list td.count .count_wrap button.pluse{background: #fff url(../img/shop/pluse.jpg) no-repeat center;}

.item_list tr.list td.del{width: 50px;}
.item_list tr.list td.del button{width: 30px; height: 30px; border: 0; background: url(../img/shop/del.png) no-repeat center; text-indent: -9999px;}

.con_bottom{margin: 20px 0;}
.con_bottom::after{content: ""; display: block; clear: both;}

/* check_out */
.check_out .item_list tr.list td.pro_img{padding: 10px 30px;}

.con_bottom .check_out{width: 420px; background-color: #f5f5f5; padding: 20px 30px; float: right;}
.check_out p{font-size: 14px;}
.check_out p::after{content: ""; display: block; clear: both;}
.check_out .top>p~p{margin-top: 10px;}
.check_out p span:nth-child(1){float: left;}
.check_out p span:nth-child(2){float: right; font-weight: 500;}

.check_out .top select{width: 100%; height: 34px; border: 1px solid #d7d7d7; color: #959595; padding: 0 10px; margin-top: 20px; background: #fff url(../img/shop/select_arrow.png) no-repeat 97% center;}
select::-ms-expand{display: none;}

.check_out .bottom{border-top: 1px solid #000; padding-top: 20px; margin-top: 20px;}
.check_out .bottom p{font-size: 18px;}
.check_out .bottom a{display: block; width: 100%; height: 40px; background-color: #000; border: 0; font-size: 16px; color: #fff; line-height: 40px; text-align: center; margin-top: 20px;}

.con_bottom .continue{float: left;}
.con_bottom .continue a{display: inline-block; width: 180px; height: 40px; border: 1px solid #000; font-size: 14px; line-height: 38px; padding-left: 10px;}
.con_bottom .continue a::before{content: ""; display: inline-block; width: 8px; height: 14px; background: url(../img/shop/continue.png) no-repeat left center; margin-right: 5px; vertical-align: middle;}

h3{font-size: 24px;}
.info_tb{width: 100%; border: 1px; border-collapse: collapse; border-top: 1px solid #959595; margin-top: 10px;}
.info_tb tr{border-bottom: 1px solid #ebebeb;}
.info_tb tr th{width: 130px; background-color: #fafafa; font-weight: 400; font-size: 14px;}
.info_tb tr td{padding: 10px;}
.info_tb tr td input{height: 34px; border: 1px solid #d7d7d7; padding: 0 10px;}

.info1{padding-top: 50px;}
.info1 .info_tb tr:nth-child(1) td input,.info1 .info_tb tr:nth-child(4) td input{width: 364px;}
.info1 .info_tb tr:nth-child(2) td input, .info1 .info_tb tr:nth-child(3) td input{width: 208px;}
.info1 .info_tb tr:nth-child(5) td input, .info1 .info_tb tr:nth-child(6) td input{width: 650px;}
.info1 .info_tb tr:nth-child(7) td input{width: 110px;}
.info1 .info_tb tr td textarea{width: 100%; height: 96px; border: 1px solid #d7d7d7; resize: none;}

.info2{padding-top: 50px;}
.info2 .info_tb tr:nth-child(1) p{display: inline-block; vertical-align: middle;}
.info2 .info_tb tr:nth-child(1) p:nth-child(1){font-weight: 500; font-size: 18px; color: #ed1c24;}
.info2 .info_tb tr:nth-child(2) td label{font-weight: 300; font-size: 14px;}
.info2 .info_tb tr.point,.info2 .info_tb tr.deposit{display: none;}
.info2 .info_tb tr.point input{width: 136px;}
.info2 .info_tb tr.point p{display: inline-block; padding-left: 10px;}
.info2 .info_tb tr.point p span:nth-child(2){font-weight: 500; color: #20409a;}
.info2 .info_tb tr.deposit select{width: 136px; height: 34px; border: 1px solid #d7d7d7; background: url(../img/shop/select_arrow_bank.png) no-repeat 95% center; padding: 0 10px;}
.info2 .info_tb tr.deposit input{width: 344px;}

.order_btn{text-align: center; margin: 40px 0;}
.order_btn button{width: 328px; height: 40px; background-color: #000; border: 0; font-size: 16px; color: #fff;}

/** order ¿Ï·á ***/
.final_notice {margin:0 auto;padding:25px 15px;width:100%;max-width:1000px;text-align:center;}
.final_notice  .complete_notice01 {padding:10px 0 30px;font-size:22px;border-bottom:1px solid #e6cfcf;line-height:1.6;}
.final_notice  .complete_notice02 {padding:20px 10px 20px 0;font-size:18px;background:#fcf4f4;}
.final_notice  .complete_notice02 .order_num {float:none;display:inline-block;color:#ed1c24;padding:0 0 4px 0;border-bottom:1px solid #ed1c24;font-weight:300;}
.btn_go_shopping {margin:10px auto 50px;display:block;width:98%;max-width:320px;padding:10px 10px;color:#fff;background:#000;text-align:center;}

@media all and (max-width: 1399px){
  .inner{margin: 0 3%;}
}

@media all and (max-width: 830px){
  .txt_no{display: inline-block;}

  .item_list{display: block;}
  .item_list tbody{display: block;}
  .item_list tr{display: block; border-bottom: 1px solid #898989;}
  .item_list tr td{display: block;}
  .item_list tr td.check{padding: 10px;}

  .item_list tr.tit{width: 100%; height: 40px; background-color: transparent; border-top: 0; border-bottom: 1px solid #898989;}
  .item_list tr.tit td~td{display: none;}

  .item_list tr.list{position: relative; border-bottom: 1px solid #898989; position: relative; padding-top: 20px;}
  .item_list tr.list::after{content: ""; display: block; clear: both;}
  .item_list tr.list td.check, .item_list tr.list td.pro_img{float: left; padding: 0; height: 160px;}
  .item_list tr.list td+td+td{float: right; width: 45%; text-align: left; margin-top: 20px;}
  .item_list tr.list td.txt{margin-top: 0; line-height: 18px;}

  .item_list tr.list td.price{float: left; width: 100%; height: 46px; background-color: #fafafa; border-top: 1px solid #e1e1e1; line-height: 46px; text-align: left; padding-left: 10px;}
  .item_list tr.list td.del{position: absolute; right: 0; bottom: 8px;}

  /* check_out */
  .check_out .item_list tr{border-top: 1px solid #898989;}
  .check_out .item_list .tit{display: none;}
  .check_out .item_list tr.list td.pro_img{width: 40%; padding: 0;}
  .check_out .item_list tr.list .right{float: right; width: 60%; text-align: left; margin-top: 20px;}

  /* info */
  .info_tb tr th{width: 30%;}
  .info_tb tr td{width: 70%;}
  .info1 .info_tb tr:nth-child(5) td input, .info1 .info_tb tr:nth-child(6) td input{width: 100%; box-sizing: border-box;}
}

@media all and (max-width: 767px){
  .shop{padding-top: 50px;}
  .shop h2{font-size: 24px; text-align: left; margin: 20px 0;}

  .con_bottom .check_out{width: 100%; float: inherit;}
  .check_out table{display: block;}
  .check_out table tbody{display: block;}
  .check_out table tbody tr{display: block;}
  .info1 .info_tb tr:nth-child(1) td input, .info1 .info_tb tr:nth-child(4) td input{width: 300px;}
  .bottom .continue{float: inherit; padding: 20px;}
  .bottom .continue a{width: 100%; text-align: center;}
  .con_bottom .continue a{margin-top: 10px;}

  .info_tb tr{text-align: left;}
  .info_tb tr th{display: block; width: auto; background-color: transparent; padding-top: 10px;}
  .info_tb tr td{display: block; width: auto; padding: 10px 0;}

  .info1{padding-top: 30px;}
  .info2 .info_tb tr.deposit input{width: 300px;}

  .order_btn button{width: 100%;}

}

@media all and (max-width: 580px){
  .item_list tr.list td+td+td{float: right; width: 50%}

  .info2 .info_tb tr.point p{display: block; padding-left: 0; padding-top: 10px;}
  .info2 .info_tb tr.deposit input{display: block; margin-top: 10px;}
}
