.calendar { behavior:url("/common/calendar_pop.htc"); }

/*공통*/
body				{background-color:#FFFFFF;margin-left:0px;margin-bottom:50px;}
body,td,th			{font-family:돋움,Arial;font-size:12px;color:#888888;line-height:140%;}
img					{border:0px;}
input				{background:#ffffff;border:1px solid #cacaca;height:21px;ime-mode:active;text-align:left;padding:3 0 0 5px;}
select				{font-family:돋움,Arial;font-size:13px;}

a:link				{font-family:돋움,Arial;font-size: 11px;color:#707070;text-decoration:none;selector-dummy:expression(this.hideFocus=true);}
a:visited			{font-family:돋움,Arial;font-size: 11px;color:#707070;text-decoration:none;selector-dummy:expression(this.hideFocus=true);}
a:hover				{font-family:돋움,Arial;font-size: 11px;color:#707070;text-decoration:none;selector-dummy:expression(this.hideFocus=true);}
a:active			{font-family:돋움,Arial;font-size: 11px;color:#707070;text-decoration:none;selector-dummy:expression(this.hideFocus=true);}

.input_read			{background:#e4e7eb;border:1px solid #cacaca;height:21px;font-size:12px;ime-mode:active;text-align:left;padding:3 0 0 5px;selector-dummy:expression(this.hideFocus=true);}
.input_noborder		{background:#ffffff;border:0px solid #ffffff;selector-dummy:expression(this.hideFocus=true);}
.input_calendar		{background:#ffffff;border:1px solid #cacaca;height:21px;width:70px;font-size:12px;text-align:center;padding:3 0 0 0px;selector-dummy:expression(this.hideFocus=true);}

.input130			{color:#545454; font-size:12px; border:1px #cccccc solid; height:20px; width:130px;}
.input80			{color:#545454; font-size:12px; border:1px #cccccc solid; height:20px; width:80px;}
.textarea			{background-color: #ffffff; font-size:12px; color: #545454; padding:5px;  border: #cccccc solid 1px;}

#scr_dimmer			{top:0px;left:0px;width:100%;height:100%;position:absolute;display:none;z-index:1;background:#ffffff;opacity:0.4;filter:alpha(opacity=60);}
#tbl_search			{border-spacing:0;padding:0px;border-collapse:collapse;border:0px solid #ffffff;}
#tbl_list			{border-spacing:0;padding:0px;border-collapse:collapse;border:0px solid #ffffff;}
#tbl_write			{border-spacing:0;padding:0px;border-collapse:collapse;border:0px solid #ffffff;}
#tbl_write_main		{border-spacing:0;padding:0px;border-collapse:collapse;border:0px solid #ffffff;}


/* 상단 검색 */
.search_td			{width:100%;background:#ffffff;height:30px;text-align:right;vertical-align:middle;}

/* 게시판 공통 */
.blank_tr			{background:#ffffff;height:10px;border:0px solid #ffffff;}
.blank_tr5			{background:#ffffff;height:5px;border:0px solid #ffffff;}
.line_tr			{background:#ffffff;height:1px;border:0px solid #ffffff;}
.line_td			{padding:0px;height:1px;background:#e8e8e8;}

/* 게시판 리스트 */
.header_tr			{height:30px;background:#e8eaf0;}
.header_no			{color:#5f5f5f;font-weight:bold;text-align:center;border-top:1px solid #cacaca;border-bottom:1px solid #cacaca;border-right:1px solid #e1e1e1;} 
.header_subject		{color:#5f5f5f;font-weight:bold;text-align:center;border-top:1px solid #cacaca;border-bottom:1px solid #cacaca;border-right:1px solid #e1e1e1;}
.header_writer		{color:#5f5f5f;font-weight:bold;text-align:center;border-top:1px solid #cacaca;border-bottom:1px solid #cacaca;border-right:1px solid #e1e1e1;}
.header_date		{color:#5f5f5f;font-weight:bold;text-align:center;border-top:1px solid #cacaca;border-bottom:1px solid #cacaca;}

.notice_tr			{height:30px;background:#ffffff;}
.notice_tr_over		{height:30px;background:#f4f5f7;}
.notice_no			{color:#ff8000;font-weight:bold;text-align:center;border-right:1px solid #e1e1e1;border-bottom:1px dotted #cacaca;vertical-align:middle;} 
.notice_subject		{color:#ff8000;font-weight:bold;text-align:left;padding-left:5px;border-right:1px solid #e1e1e1;border-bottom:1px dotted #cacaca;}
.notice_writer		{color:#ff8000;font-weight:bold;text-align:left;padding-left:5px;border-right:1px solid #e1e1e1;border-bottom:1px dotted #cacaca;}
.notice_date		{color:#ff8000;font-weight:bold;text-align:center;border-bottom:1px dotted #cacaca;}

.list_tr			{height:30px;background:#ffffff;}
.list_tr_over		{height:30px;background:#f4f5f7;font-weight:bold;}
.list_no			{color:#5f5f5f;text-align:center;border-right:1px solid #e1e1e1;border-bottom:1px dotted #cacaca;} 
.list_subject		{color:#5f5f5f;text-align:left;padding-left:5px;border-right:1px solid #e1e1e1;border-bottom:1px dotted #cacaca;}
.list_writer		{color:#5f5f5f;text-align:left;padding-left:5px;border-right:1px solid #e1e1e1;border-bottom:1px dotted #cacaca;}
.list_date			{color:#5f5f5f;text-align:center;border-bottom:1px dotted #cacaca;}
.list_btn			{background:#ffffff;height:30px;text-align:right;vertical-align:middle;}
.no_list			{background:#ffffff;height:200px;text-align:center;vertical-align:middle;font-size:12px;border-bottom:1px solid #cacaca;}

/* 페이지 번호 */
.page_tr			{background:#ffffff;height:40px;}
.page_td			{background:#ffffff;text-align:center;vertical-align:middle;}
.page_num_normal	{width:24px;height:20px;text-align:center;padding-top:2px;border:1px solid #e8e8e8;background:#ffffff;color:#737373;font-size:12px;font-weight:bold;cursor:pointer;}
.page_num_over		{width:24px;height:20px;text-align:center;padding-top:2px;border:1px solid #e8e8e8;background:#e9e9e9;color:#000000;font-size:12px;font-weight:bold;cursor:pointer;}
.page_num_current	{width:24px;height:20px;text-align:center;padding-top:2px;border:1px solid #e8e8e8;background:#afcccd;color:#ffffff;font-size:12px;font-weight:bold;cursor:pointer;}
.page_end			{width:20px;height:20px;text-align:center;padding-top:2px;border:0px solid #e8e8e8;background:#ffffff;color:#484848;font-size:13px;text-decoration:none;cursor:pointer;}
.page_next			{width:30px;height:20px;text-align:center;padding-top:2px;border:0px solid #e8e8e8;background:#ffffff;color:#484848;font-size:13px;text-decoration:none;cursor:pointer;}
.page_space			{width:3px;height:20px;border:0px solid #ffffff;}

/* 라운드테이블 */
.round_top_tr		{height:12px;}

.round_top_left		{width:12px;background-image:url(../img/corner_1.gif);padding:0px;}
.round_top_mid		{background-image:url(../img/corner_top.gif);background-repeat:repeat-x;padding:0px;}
.round_top_right	{width:12px;background-image:url(../img/corner_2.gif);padding:0px;}

.round_body_tr		{height:12px;}
.round_body_left	{width:12px;background-image:url(../img/corner_left.gif);padding:0px;}
.round_body_mid		{padding:0px;}
.round_body_right	{width:12px;background-image:url(../img/corner_right.gif);padding:0px;}

.round_bottom_tr	{height:12px;}
.round_bottom_left	{width:12px;background-image:url(../img/corner_4.gif);padding:0px;}
.round_bottom_mid	{background-image:url(../img/corner_bot.gif);background-repeat:repeat-x;padding:0px;}
.round_bottom_right	{width:12px;background-image:url(../img/corner_3.gif);padding:0px;}

/* 글쓰기 / 수정하기 */
.write_tr			{height:30px;}
.write_td_title		{background:#ffffff;color:#000;text-align:left;border-bottom:0px dotted #cacaca;padding:0px; font-weight:bold;} 
.write_td_content	{background:#ffffff;color:#5f5f5f;text-align:left;border-bottom:0px dotted #cacaca;padding:0px;}
.write_td_colspan	{background:#ffffff;color:#5f5f5f;text-align:left;border-bottom:0px dotted #cacaca;padding:0px;}
.write_tr select    {width:80%;}

.submit_tr			{height:50px;}
.submit_td			{background:#ffffff;text-align:center;vertical-align:middle;}

/* 글보기 */
.view_tr			{height:28px;}
.view_tr_line		{height:1px;}
.view_td_title		{background:#f1f8fc; color:#000000;text-align:left;border-right:1px solid #e9e9e9;border-bottom:1px dotted #cacaca;padding:0 0 0 10px;} 
.view_td_content	{background:#ffffff;color:#5f5f5f;text-align:left;border-bottom:1px dotted #cacaca;padding:0 0 0 10px;}
.view_td_colspan	{background:#ffffff;color:#5f5f5f;text-align:left;border-bottom:1px dotted #cacaca;padding:0 0 0 10px;}
.view_td_full		{height:200px;background:#ffffff;color:#5f5f5f;text-align:left;vertical-align:top;padding:5 5 5 5px;}
.view_td_line		{background:#ffffff;color:#5f5f5f;text-align:left;;border-bottom:1px dotted #cacaca;padding:0px;font-size:1px;}

.command_tr			{height:40px;}
.command_td_L		{background:#ffffff;color:#000000;text-align:left;border:0px solid #e9e9e9;padding:0 0 0 10px;} 
.command_td_R		{background:#ffffff;color:#000000;text-align:right;border:0px solid #e9e9e9;padding:0 10 0 0px;} 

/*비밀번호 팝업 */
#pass_input			{display:none;position:absolute;width:300px;height:300px;top:100px;height:100px;background:#ffffff;z-index:99999;}
#tbl_pass			{width:300px;border-spacing:0;padding:0px;border-collapse:collapse;border:0px solid #ffffff; background:#ffffff;}
#tbl_pass_main		{width:100%;border-spacing:0;padding:0px;border-collapse:collapse;border:0px solid #ffffff;}
.pass_td			{color:color:#5f5f5f;font-weight:bold;line-height:150%;text-align:center;padding:10 10 10 10px;}

/* 팝업 라운드테이블 */
.round_top_tr		{height:10px;}

.pop_top_left		{width:10px;height:41px;background-image:url(../img/pop_corner_1.gif);padding:0px;}
.pop_top_mid		{height:41px;background-image:url(../img/pop_corner_top.gif);background-repeat:repeat-x;padding:0px;text-align:right;}
.pop_top_right		{width:10px;height:41px;background-image:url(../img/pop_corner_2.gif);padding:0px;}

.pop_body_tr		{height:10px;}
.pop_body_left		{width:10px;background-image:url(../img/pop_corner_left.gif);padding:0px;}
.popbody_mid		{padding:0px;}
.pop_body_right		{width:10px;background-image:url(../img/pop_corner_right.gif);padding:0px;}

.pop_bottom_tr		{height:10px;}
.pop_bottom_left	{width:10px;height:24px;background-image:url(../img/pop_corner_4.gif);padding:0px;}
.pop_bottom_mid		{background-image:url(../img/pop_corner_bottom.gif);background-repeat:repeat-x;padding:0px;}
.pop_bottom_right	{width:10px;height:24px;background-image:url(../img/pop_corner_3.gif);padding:0px;}




/********* 포토갤러리 ********/
.gallery_list {width:730px;margin:15px auto;padding:14px 0;border-top:2px solid #4c4997;border-bottom:1px solid #4c4997;*zoom:1;}
.gallery_list:after {content:""; clear:both; visibility:hidden; display:block; height:0;}
.gallery_list li {float:left;width:150px;margin:10px 15px 10px 15px;list-style:none outside;}
.gallery_list li dl>dt {padding-bottom:5px;}
.gallery_list li dl>dt img {border:1px solid #ccc;}
.gallery_list li dl>dt img:hover {border:1px solid #5955a1;cursor:poiner;}
.gallery_list li dl>dd {padding:2px 0;font-size:14px;}
.gallery_list li dl>dd a {color:#333;}
.gallery_list li dl>dd a:hover {color:#5955a1;}
.gallery_list li dl>dd .g_name {display:block;float:left;font-size:13px;color:#555;}
.gallery_list li dl>dd .g_date {display:block;float:right;font-size:13px;color:#777;}

.no_reg_image {width:760px;margin:20px 0 15px 0;border-top:2px solid #4c4997;border-bottom:1px solid #4c4997;}
.no_reg_image>li {font-size:20px;line-height:40px;text-align:center;color:#4c4997;padding:40px 0;list-style:none outside;}
.no_image {width:730px;font-size:20px;line-height:40px;text-align:center;color:#4c4997;padding:40px 0 60px 0;}

.list_tb{width:100%;}