<%@ CodePage="65001" Language="vbscript"%>
<!-- #include virtual = "/myoffice/common/common.inc" -->

<!-- #include virtual = "/myoffice/inc/head.html" -->

<!-- #include virtual = "/myoffice/inc/header.html" -->

<!-- #include virtual = "/myoffice/inc/nav.html" -->
<% Call Check_Login(fURL) %>
<div id="container">
	<div class="contentHeader">
		<h3 class="contentTitle"><i class="fa fa-th-large" aria-hidden="true"></i> Order</h3>
	</div>
	<div class="content">
		<div class="section">
			<div class="orderBox">
				<div class="orderLeftBox">
					<img src="/myoffice/img/order/product.png" alt="ACUTE ANGLE PC">
				</div>
				<div class="orderRightBox">
					<div class="detailBox">
						<div class="productDetail">
							<p class="productTitle">Brand Name</p>
							<p class="productText">Acute angle</p>
						</div>
						<div class="productDetail">
							<p class="productTitle">Model Number</p>
							<p class="productText">AA-B4</p>
						</div>
						<div class="productDetail">
							<p class="productTitle">Processor Brand</p>
							<p class="productText">Intel</p>
						</div>
						<div class="productDetail">
							<p class="productTitle">Processor Model</p>
							<p class="productText">Apollo N3450</p>
						</div>
						<div class="productDetail">
							<p class="productTitle">Processor Main Frequency</p>
							<p class="productText">2.2 GHz</p>
						</div>
						<div class="productDetail">
							<p class="productTitle">Material</p>
							<p class="productText">Walnut + Magaluma</p>
						</div>
						<div class="productDetail">
							<p class="productTitle">Graphics Card Type</p>
							<p class="productText">Integrated Card</p>
						</div>
						<div class="productDetail">
							<p class="productTitle">Memory Capacity</p>
							<p class="productText">8GB</p>
						</div>
						<div class="productDetail">
							<p class="productTitle">Use</p>
							<p class="productText">Commercial</p>
						</div>
						<div class="productDetail">
							<p class="productTitle">Hard Drive Capacity</p>
							<p class="productText">64GB</p>
						</div>
						<div class="productDetail">
							<p class="productTitle">Type</p>
							<p class="productText">Mini Desktops</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="section">
			<form name="frm_order" id="frm_order">
			<div class="orderBox">
				<%
				sql =		"select	a.username,a.zipcode,a.e_mail, country,														"
				sql = sql & "  ENCRYPTION_AES.DEC_AES(a.mobile) as mobile, ENCRYPTION_AES.DEC_AES(a.address1) as  address1,		"
				sql = sql & "  ENCRYPTION_AES.DEC_AES(a.address2) address2														"
				sql = sql & "  from	dist A																						"
				sql = sql & " where	A.userid = '" & Session("userid") & "'														"
				Set rs_u = DBConn.Execute(sql)

				username	= rs_u("username")
				If InStr(username, ",") > 0 Then
					arryName	= Split(username, ",")
					lastname	= arryName(0)
					firstname	= arryName(1)
				Else
					firstname	= username
				End If

				ord_mobile	= rs_u("mobile")

				country		= rs_u("country")
				zipcode		= rs_u("zipcode")
				addr1		= rs_u("address1")
				addr2		= rs_u("address2")

				ord_email	= rs_u("e_mail")
				email_temp	= fn_normal(ord_email,"@","MAIL")
				email		= Split(email_temp,",")

				rs_u.Close : Set rs_u = Nothing
				%>
				<input  type="hidden" name="userid" id="userid" value="<%=Session("userid")%>" />
				<input  type="hidden" name="user_name" id="user_name" value="<%=username%>" />
				<input	type="hidden" name="user_mobile" id="user_mobile" class="tel" value="<%=ord_mobile%>" />
				<input  type="hidden" name="user_zip"	id="user_zip"	value="<%=zip_code%>"  />
				<input	type="hidden" name="user_addr1" id="user_addr1" value="<%= ADDR1 %>" />
				<input	type="hidden" name="user_addr2" id="user_addr2" value="<%= ADDR2 %>" />
				<input  type="hidden" name="user_email"	value="<%= ord_email %>">
				<div class="orderLeftBox">
					<div class="detailBox">
						<h3 class="productName">Ship to</h3>
						<div class="tableBox">
							<label for="d_country">
								<div class="labelInnerBox">
									<span class="inputTitle">Country</span>
								</div>
							</label>
							<select name="d_country" id="d_country"
									check="T" check_type="length" check_length="0" check_key=""
									title="Please select the country field.">
								<%
								sql =		"select	country, country_name	"
								sql = sql & "  from	country					"
								sql = sql & " where	isUSE = '1'				"
								sql = sql & " order by country				"
								Set rs_country = DBConn.Execute(sql)

								Do While Not rs_country.EOF
									Response.Write "<option value='" & rs_country("country") & "'>" & rs_country("country_name") & "</option>"
									rs_country.MoveNext
								Loop
								rs_country.Close
								%>
							</select>
							<span class="focus-input100"></span>
							<script>$("#d_country").val("<%=country%>");</script>
						</div>
						<div class="tableBox">
							<label for="d_firstname">
								<div class="labelInnerBox">
									<span class="inputTitle">First Name</span>
								</div>
							</label>
							<input type="text" name="d_firstname" id="d_firstname" placeholder="Enter First Name"
								   check="T" check_type="length" check_length="0" check_key=""
								   title="Please fill in the firstname field."
								   value="<%=firstname%>">
							<span class="focus-input100"></span>
						</div>
						<div class="tableBox">
							<label for="d_lastname">
								<div class="labelInnerBox">
									<span class="inputTitle">Last Name</span>
								</div>
							</label>
							<input type="text" name="d_lastname" id="d_lastname" placeholder="Enter Last Name"
								   check="T" check_type="length" check_length="0" check_key=""
								   title="Please fill in the lastname field."
								   value="<%=lastname%>">
							<span class="focus-input100"></span>
						</div>
						<div class="tableBox">
							<label for="d_addr2">
								<div class="labelInnerBox">
									<span class="inputTitle">Street address</span>
								</div>
							</label>
							<input type="text" name="d_addr2" id="d_addr2" placeholder="Enter Street address"
								   check="T" check_type="length" check_length="0" check_key=""
								   title="Please fill in the Street address field."
								   value="<%=addr2%>">
							<span class="focus-input100"></span>
						</div>
						<div class="tableBox">
							<label for="d_addr1">
								<div class="labelInnerBox">
									<span class="inputTitle">City / State</span>
								</div>
							</label>
							<input type="text" name="d_addr1" id="d_addr1" placeholder="Enter City / State"
								   check="T" check_type="length" check_length="0" check_key=""
								   title="Please fill in the city / state field."
								   value="<%=addr1%>">
							<span class="focus-input100"></span>
						</div>
						<div class="tableBox">
							<label for="d_zipcode">
								<div class="labelInnerBox">
									<span class="inputTitle">ZIP code</span>
								</div>
							</label>
							<input type="text" name="d_zipcode" id="d_zipcode" placeholder="Enter ZIP code"
								   check="T" check_type="length" check_length="0" check_key=""
								   title="Please fill in the ZIP code field."
								   value="<%=zipcode%>">
							<span class="focus-input100"></span>
						</div>
						<div class="tableBox">
							<label for="d_mobile">
								<div class="labelInnerBox">
									<span class="inputTitle">Mobile Phone</span>
								</div>
							</label>
							<input type="text" name="d_mobile" id="d_mobile" placeholder="Enter Mobile Phone"
								   check="T" check_type="length" check_length="0" check_key=""
								   title="Please fill in the mobile phone field."
								   maxLength="20" value="<%=ord_mobile%>">
							<span class="focus-input100"></span>
						</div>
						<div class="tableBox">
							<label for="d_email">
								<div class="labelInnerBox">
									<span class="inputTitle">E-Mail</span>
								</div>
							</label>
							<input type="text" name="d_email" id="d_email" placeholder="Enter E-Mail"
								   check="T" check_type="length" check_length="0" check_key=""
								   title="Please fill in the E-Mail field."
								   maxLength="100" value="<%=ord_email%>">
							<span class="focus-input100"></span>
						</div>
					</div>
				</div>
				<%
				sub_amt = 0	: sub_pv1 = 0 : tot_amt = 0	: deli_sum = 0 : tot_ord = 0
				sql =		"select	a.product_cd, a.product_name, b.amt, b.pv1, b.pv2,	"
				sql = sql & "		b.price, b.vat										"
				sql = sql & "  from	product a, product_detail b							"
				sql = sql & " where	a.product_cd = b.product_cd							"
				sql = sql & "   and	b.reg_date = (select max(reg_date)					"
				sql = sql & "						from product_detail					"
				sql = sql & "					   where product_cd = a.product_cd)		"
				sql = sql & "   and	a.product_cd = '100001'								"
				Set rs=DBConn.Execute(sql)

				qty			 = 1
				product_cd	 = rs("product_cd")
				product_name = rs("product_name")
				price		 = rs("price")
				vat			 = rs("vat")
				pdt_amt	= rs("amt")
				pdt_pv1	= rs("pv1")
				sub_amt = sub_amt + CCur(pdt_amt) * qty
				sub_pv1 = sub_pv1 + CCur(rs("pv1")) * qty

				deli_amt	 = 0
				If  isnull(deli_amt) Then deli_amt=0 Else deli_amt=CDbl(deli_amt) End If
				'배송비의 합
				deli_sum	= deli_sum + deli_amt

				'단가의 합
				tot_amt		= tot_amt + sub_amt
				'포인트의 합
				tot_pv1		= tot_pv1 + sub_pv1

				rs.Close : Set rs = Nothing

				tot_ord = tot_amt
				%>
				<input type="hidden" name="product_cd"	value="<%=product_cd%>"	/>
				<input type="hidden" name="product_name" value="<%=product_name%>" />
				<input type="hidden" name="price"		value="<%=price%>" />
				<input type="hidden" name="vat"			value="<%=vat%>" />
				<input type="hidden" name="qty"			value="<%=qty%>"	 id="qty" />
				<input type="hidden" name="pdt_amt"		value="<%=pdt_amt%>" id="pdt_amt" />
				<input type="hidden" name="pdt_pv1"		value="<%=pdt_pv1%>" />
				<input type="hidden" name="pdt_pv2"		value="<%=pdt_pv2%>" />
				<input type="hidden" name="order_kind"	value="4101">

				<input type="hidden" name="tot_amt"		value="<%=tot_ord%>" id="tot_amt" />
				<input type="hidden" name="tot_coin"	value="0"			 id="tot_coin" />
				<input type="hidden" id="get_coin"		value="0" />
				<div class="orderRightBox">
					<div class="detailBox">
						<h3 class="productName">Acute Angle PC</h3>
						<div class="orderDataBox">
							<span class="orderDataName">BTC</span>
							<span class="orderData" id="live_btc"></span>
						</div>
						<div class="orderDataBox">
							<span class="orderDataName">ETH</span>
							<span class="orderData" id="live_eth"></span>
						</div>
						<div class="orderDataBox border-bottom">
							<span class="orderDataName">AAC</span>
							<span class="orderData" id="live_acc"></span>
						</div>
						<div class="orderDataBox">
							<span class="orderDataName">Price</span>
							<span class="orderData">$ <%=FormatNumber(pdt_amt, 0)%></span>
						</div>
						<!--
						<div class="orderDataBox">
							<span class="orderDataName">Consumers</span>
							<span class="orderData">$ 1,435</span>
						</div>
						-->
						<div class="orderDataBox border-bottom">
							<span class="orderDataName">Quantity</span>
							<span class="orderData">
								<button type="button" class="qty minus" id="m_qty"></button>
								<span class="qtySpan"><%=qty%></span>
								<button type="button" class="qty plus" id="p_qty"></button>
							</span>
						</div>
						<div class="orderDataBox border-bottom">
							<span class="orderDataName">Total</span>
							<span class="orderData"><span id="tot_amt_usd"><%=FormatNumber(sub_amt, 0)%></span> USD</span>
						</div>
						<div class="orderDataBox border-bottom">
							<span class="orderDataName">Payment type</span>
							<span class="orderData">
								<label>
									<input  type="radio" name="pay_kind" value="ETH" class="rdo_kind" checked
											title="Please select the payment method."
											check="T" check_type="length" check_length="0" check_key="" />Ethereum (ETH)
								<label>
								<label>
									<input	type="radio" name="pay_kind" value="BTC" class="rdo_kind"
											title="Please select the payment method."
											check="T" check_type="length" check_length="0" check_key="" />Bitcoin (BTC)
								<label>
							</span>
						</div>
						<div class="orderDataBox border-bottom">
							<span class="orderDataName"><span id="coin_name">ETH</span></span>
							<span class="orderData"><span id="tot_amt_virtual">0 ETH</span></span>
						</div>
						<div class="btnPurchaseBox">
							<button type="button" class="btnPurchase">purchase</button>
						</div>
						<p class="purchaseText">Acute Angle token is based on the block chain technology and applied to business maintenance and business of Acute Angle Cloud. It will increase the utilization and value of token through its own APP market and game service.</p>
					</div>
				</div>
			</div>
			</form>
		</div>
	</div>
</div>

<!-- #include virtual = "/myoffice/inc/footer.html" -->

<div id="purchasePopup" style="display:none;">
	<h1 class="purchasePopupTitle">Bank account number</h1>
	<div class="purchasePopupContent">
		<div class="addressContentBox qr cBTC" style="display:none;">
			<dl class="addressContentInner">
				<dt class="bankAccount">BITCOIN (BTC)</dt>
				<dd class="addressNotice">To deposit the payment for your order, please copy the address below or Scan the QR code to get the deposit address.</dd>
				<dd class="bankAddr">
					<div>
						<span class="bankAddrText">1MXpoT9cgG7r41GDNhnVAPc6WdQgndFuHY</span>
						<button type="button" class="btnBankAddrCopy" data-clipboard-action="copy" data-clipboard-text="1MXpoT9cgG7r41GDNhnVAPc6WdQgndFuHY">Copy</button>
					</div>
				</dd>
				<dd class="bankQRCode">
					<img src="/myoffice/img/common/btc_qr_code.png" alt="BTC QR Code">
				</dd>
			</dl>
		</div>
		<div class="addressContentBox qr cETH">
			<dl class="addressContentInner">
				<dt class="bankAccount">ETHEREUM (ETH)</dt>
				<dd class="addressNotice">To deposit the payment for your order, please copy the address below or Scan the QR code to get the deposit address.</dd>
				<dd class="bankAddr">
					<div>
						<span class="bankAddrText">0x263be76183bb26c507156adf57e2bc6d19482428</span>
						<button type="button" class="btnBankAddrCopy" data-clipboard-action="copy" data-clipboard-text="0x263be76183bb26c507156adf57e2bc6d19482428">Copy</button>
					</div>
				</dd>
				<dd class="bankQRCode">
					<img src="/myoffice/img/common/eth_qr_code.png" alt="ETH QR Code">
				</dd>
			</dl>
		</div>
		<div class="addressContentBox">
			<div class="btnPopupBox">
				<!--/myoffice/order/order_complete.html-->
				<a href="javascript:void(0);" id="btnSend" class="btnPopupOkay">OK</a>
				<a href="#purchasePopup" rel="modal:close" class="btnPopupCancel">Cancel</a>
			</div>
		</div>
	</div>
</div>

<script>
$(document).ready(function(){
	live_coin();
	var clipboard = new Clipboard(".btnBankAddrCopy");
	clipboard.on('success',function(e) {
		e.clearSelection();
		showTooltip(e.trigger,'Copied!');
	});
	clipboard.on("error", function(e){
		alert("Unable to copy!");
	});
});
var live_count = setInterval(function() {
		live_coin();
	}, 1000);

$("#btnSend").on("click", function(){
	var url = "/myoffice/common/order_proc.html";
	var data = $("#frm_order").serializeObject();

	$.ajax({
		url : url,
		global :false,
		contentType : "application/x-www-form-urlencoded; charset=euc-kr",
		type : "POST",
		data : data,
		dataType: 'text',
		crossDomain: true,
		async:false,
		success:function(rtnData){
			var arrItem = rtnData.split("|");
			var rtnState= arrItem[0];
			var rtnMsg 	= arrItem[1].replace(/\\n/g, '\n');
			var	rtnOrd 	= arrItem[2];

			if (rtnState == "SUCCESS") {
				alert(rtnMsg);
				location.href="/myoffice/order/order_complete.html?order_no="+rtnOrd;
			} else {
				alert(rtnMsg);
			}
		},
		error:function(reponse,textStatus,errorThrown){
			alert("Sorry!!! Some errors are occurred.\n\nPlease try again later.\n\nThank you.");
		},
		beforeSend:function(){
		}
	});
});

$(".btnPurchase").on("click", function(){
	var proc_ok = "T";
	if (!$("#frm_order").validation()){
		proc_ok = "F";
		return false;
	}

	if (proc_ok == "T"){
		$("#purchasePopup").modal("show");
	}
});

$(".qty").on("click",function(){
	var aKey = $(this).attr("id");
	var pdt_amt = $("#pdt_amt").val();
	var t_qty = Number($(".qtySpan").text());

	if (aKey == "p_qty"){
		t_qty += 1;
	} else {
		t_qty -= 1;
		if (t_qty < 1){
			alert("Order quantity should be more than \"1\"");
			t_qty = 1;
		}
	}

	var t_sum_amt = pdt_amt * t_qty;
	$(".qtySpan").text(t_qty);
	$("#qty").val(t_qty);
	$("#tot_amt").val(t_sum_amt);
	$("#tot_amt_usd").text(formatComma(t_sum_amt, 0));
	set_virtual_amt();
});

$(".rdo_kind").on("click", function(){
	var $pay_kind = $(":input:radio[name=pay_kind]:checked");
	$(".qr").hide();
	$(".c"+ $pay_kind.val()).show();

	load_coin($pay_kind.val());
	set_virtual_amt();
});

function set_virtual_amt(){
	var tot_amt = 0;
	var	tot_coin = 0;
	var amt = $("#pdt_amt").val();
	var qty = $("#qty").val();
	var $pay_kind = $(":input:radio[name=pay_kind]:checked");
	var $tot_amt_virtual = $("#tot_amt_virtual");
	var $coin_name = $("#coin_name");
	var	get_coin = $("#get_coin").val();
	var comma_tot_coin = "";
	//console.log(get_coin, amt, qty);
	tot_amt = amt * qty;
	tot_coin = tot_amt / Number(get_coin);

//	console.log(tot_amt, get_coin, tot_coin);
	comma_tot_coin = formatComma(tot_coin, 8);
	$coin_name.text($pay_kind.val());
	$tot_amt_virtual.text(comma_tot_coin + " " + $pay_kind.val());
	$("#tot_coin").val(stripComma(comma_tot_coin));
}

function load_coin(fKIND){
	var url = "/myoffice/common/getEtherTradeInfo.html";
	var symbol = "";
	if (fKIND == "BTC"){
		symbol = "btcusdt"
	}
	var data = {"symbol":symbol};

	$.ajax({
		url : url,
		global :false,
		contentType : "application/x-www-form-urlencoded; charset=euc-kr",
		type : "GET",
		data : data,
		dataType: 'json',
		crossDomain: true,
		async: false,
		success:function(rData){
			set_coin(fKIND, rData.tick);
		},
		error:function(reponse,textStatus,errorThrown){
			alert("Sorry!!! Some errors are occurred.\n\nPlease try again later.\n\nThank you.");
		},
		beforeSend:function(){
		}
	});
}

function live_coin(){
	var coin_btc = load_coin("BTC");
	var coin_eth = load_coin();
	var calc_coin = set_virtual_amt();
}

function set_coin(fKIND, fJSON){
	var $pay_kind = $(":input:radio[name=pay_kind]:checked");
	if (!fKIND){
		fKIND = "ETH"
	}
	fKIND = fKIND.toLowerCase();
	var getCoin = fJSON.close;
	$("#live_"+fKIND).text(formatComma(getCoin,8));

	if (fKIND == $pay_kind.val().toLowerCase()){
		$("#get_coin").val(getCoin);
	}
}


jQuery.fn.validation = function(){
	var fn_chek = false;
	if(this[0].tagName && this[0].tagName.toUpperCase() == "FORM" ) {
		var obj = $(this).find(":input");
		$.each(obj, function(index, value){
			var field_check = $(value).attr("check");
			var field_type	= $(value).attr("check_type");
			var field_length= $(value).attr("check_length");
			var field_key	= $(value).attr("check_key");
			var	field_alert	= $(value).attr("title");
			var field_value	= $(value).val();
			if (field_check == "T") {
				if (value.type == "checkbox"){
					field_key = (field_key) ? Number(field_key) : 1;
					if ($("input:checkbox[name=" + value.name + "]:checked").length < field_key){
						alert(field_alert);
						$(value).focus();
						fn_chek = false;
						return false;
					}
				} else if (value.type == "radio"){
					if ($("input:radio[name=" + value.name + "]:checked").length < 1){
						alert(field_alert);
						$(value).focus();
						fn_chek = false;
						return false;
					}
				} else if (field_type == "length") {
					if (field_value.length <= Number(field_length))	{
						alert(field_alert);
						$(value).focus();
						fn_chek = false;
						return false;
					}
				} else if (field_type == "value") {
					if (field_value != field_key)
					{
						alert(field_alert);
						$(value).focus();
						fn_chek = false;
						return false;
					}
				}
			}
			fn_chek = true;
		});
		return fn_chek;
	}
}

jQuery.fn.serializeObject = function() {
	var obj = null;
	try {
		// this[0].tagName이 form tag일 경우
		if(this[0].tagName && this[0].tagName.toUpperCase() == "FORM" ) {
			var arr = this.serializeArray();
			if(arr){
				obj = {};
				jQuery.each(arr, function() {
					// obj의 key값은 arr의 name, obj의 value는 value값

					switch(this.name) {
						case "wallet":
						case "wallet_code":
							if (obj[this.name]){
								obj[this.name] += "," + this.value;
							}else{
								obj[this.name] = this.value;
							}
							break;
						default:
							obj[this.name] = this.value;
					}
				});
			}
		}
	}catch(e) {
		alert(e.message);
	}finally  {}

	return obj;
};

</script>